body {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

#titre {
    text-align: center;
}

#flux_display {
    width: 80%;
    margin: auto;
}

#flux_display>ul {
    padding-left: 33px;
    padding-bottom: 33px;
}

#images_display {
    width: 1260px;
    margin: auto;
}

#images_display>a>img {
    margin: 10px;
    width: 400px;
    height: 250px;
}

#images_display>a>img:hover {
    box-shadow: red 5px 5px 5px;
}

#nouvelles_display {
    width: 80%;
    margin: auto;
}

#conteneur>div {
    display: inline-block;
}

#imagecontent {
    overflow: auto;
    border: 1px solid black;
}

#imagecontent>img {
    clear: both;
}

#textcontent {
    width: 48%;
    margin-left: 20px;
    vertical-align: top;
}

#textcontent>.panel-body>img {
    display: none;
}

body>div li {
    margin-bottom: 5px;
}

.form_nc {
    text-align: center;
    border-right: 1px solid #d8d8d8;
}

.form_nc form {
    display: inline-block;
}

.form_nc form th {
    text-align: center;
}

.form_nc form td {
    padding: 2px;
}

#connecte_content {
    padding-left: 10px;
}

#connecte_content>div {
    margin: 10px auto;
}

#connecte_content h4 {
    font-style: italic;
}

fieldset {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 60px;
}

footer {
    text-align: center;
    margin-top: 30px;
    height: 50px;
}