body {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

#titre {
    text-align: center;
}

#flux_display {
    width: 80%;
    margin: auto;
}

#flux_display>ul {
    padding-left: 33px;
    padding-bottom: 33px;
}
#images_display {
    width: 1260px;
    margin: auto;
}

#images_display>a>img {
    margin: 10px;
    width: 400px;
    height: 250px;
}

#images_display>a>img:hover {
    box-shadow: red 5px 5px 5px;
}

#nouvelles_display {
    width: 80%;
    margin: auto;
}

#conteneur>div {
    display: inline-block;
}

#imagecontent {
    overflow: auto;
    border: 1px solid black;
}

#imagecontent>img {
    clear: both;
}

#textcontent {
    width: 54%;
    margin-left: 20px;
    vertical-align: top;
}

#textcontent>.panel-body>img {
    display: none;
}

#backoffice li {
    margin-bottom: 5px;
}